.headerbar_outer {
	min-height: 64px;
	background-image: url('images/bg.png');
	/* DO NOT USE background-repeat OR background-size
	OR DW2PDF WILL BREAK*/
}

.headerbar_table {
	border: none;
}
.headerbar_table td {
	border: none;
}

.headerbar_img {
	text-align: center;
	padding-top: 12px;
	vertical-align: top;
}

.headerbar_title {
	height: 64px;
	padding: 0px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 12pt;
}

.headerbar_inner {
	padding: 12px;
}